@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    background: transparent;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.centered-image{
    bottom: 0px;
}

header::after{
    content: '';
    position: absolute;


    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, .05);
    z-index: 25;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 70rem;
    padding: 0 rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
}

.logo{
    color: aliceblue;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.logo span{
    font-weight: 400;
}

.hamburger-menu{
    width: 2rem;
    height: 1.5rem;
    background-color: rgb(0, 42, 92);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar{
    position: relative;
    width: .9rem;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.bar::before, .bar::after{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 3px;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.bar::before{
    transform: translateY(-7px);
}

.bar::after{
    transform: translateY(7px);
}

nav{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1rem 0;

    z-index: 100;

    background: linear-gradient(to bottom, rgba(0, 0, 0, .05), transparent);
}

.big-title{
    position: absolute;
    
    line-height: 4rem;

    top: calc(40% - 2rem);
    text-align: center;

    text-shadow: 2rem;

    font-size: 3rem;
    font-weight: 900;
    color: rgb(172, 162, 251);

    z-index: 25;
}

.mountains1{
    position: absolute;
    height: 100vh;
    z-index: 20;
}

.mountains2{
    position: absolute;
    height: 100vh;
    z-index: 19;
}

.mountains3{
    position: absolute;
    height: 100vh;
    z-index: 18;
}

.mountains4{
    position: absolute;
    height: 100vh;
    z-index: 17;
}

.mountains5{
    position: absolute;
    height: 100vh;
    z-index: 16;
}

.moonAndClouds{
    position: absolute;
    height: 100vh;
    z-index: 15;
}

.background{
    position: absolute;
    height: 100vh;
    z-index: 14;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 150px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, black, transparent);
}

.about-section{
    width: 100%;
    background-color: black;
    position: relative;
}

.about-section .container{
    padding: 10rem;
    width: 100%;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.about-section .title{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.about-section .title-text-divider{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    margin-left: -2px;
}

.about-section .text{
    color: rgb(199, 199, 199);
}

section .reorder-for-screen-size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo-mask{
    overflow: hidden;
    -webkit-mask: url(/assets/AboutPage//WhiteElipse.png);
    mask-image: url(/assets/AboutPage/WhiteElipse.png);
    mask-repeat: no-repeat;
    mask-position: 50%;
    mask-size: 18em;

    width: 19em;
    height: 35vh;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: green 1px solid;
}

.profile-photo-mask img{
    position: relative;
    top: 9em;
    right: 3em;
    width: 25em;
    height: auto;
}

.purple-shadow{
    width: 100vw;
    height: 100px;
    background: linear-gradient(to bottom, black, #1b004d);
}

.portfolio-section{
    width: 100%;
    min-height: 100vh;

    background-color: #1b004d;
}

.portfolio-grid-container{
    margin-top: 50px;
    margin-left: 5vw;
    margin-right: 5vw;

    background-color: transparent;
    display: grid;

    grid-template-columns: auto;
    row-gap: 20px;
    column-gap: 20px;
}

.portfolio-item{
    border-radius: 25px;
    background-color: #0d0220;

    width: 100%;
    height: 800px;
    padding: 20px;
}

.portfolio-item .title{
    font-size: 2rem;
    font-weight: 400;

    margin-bottom: 20px;
    color: white;
}

.portfolio-item img{
    border: rgb(60, 60, 60) solid 3px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.portfolio-item .text{
    margin-top: 20px;
    
    color: rgb(199, 199, 199);
    text-align: center;
}