@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    background: transparent;
}

header{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.mountains1{
    position: absolute;

    bottom: 0px;
    right: 0;
    width: 100%;

    z-index: 20;
}

.mountains2{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 19;
}

.mountains3{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 18;
}

.mountains4{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 17;
}

.mountains5{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 16;
}

.moonAndClouds{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 15;
}

.background{
    position: absolute;

    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 14;
}